body {
    font-family:Helvetica, Arial, sans-serif;
    margin: 0;
}

h1 {
    display:inline-block;
    width:400px;
    color:white;
    font-weight:bold;
    margin-top: 10px;
}

h2 {
    display:inline-block;
    width: 100%;
    color:black;
    font-weight:bold;
    margin-top: 20px;
    text-align: center;
}

h3 {
    font-size: 36px;
    font-weight: bold;
}

p {
    color:white;
    font-weight:200;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
}

dt {
    font-size: 22px;
    margin-bottom: 12px;
    margin-top: 32px;
}

dd {
margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #6d4444;
}

li a{
    margin-top: 16px;
    align-items: center;
}

.about {
    background-color:#bf8c8c;
    text-align:center;
    padding: 10px;
}

.edu {
    display:inline-block;
    width: 68%;
    vertical-align: top;
}

.seccion {
    width: 960px;
    height: 200px;
    align-items: center;
}

.yo{
    display:inline-block;
    width: 30%; 
    margin-top: 20px;
}

.pro {
    display:inline-block;
    margin-top: 70px;
}

.foto {
    display:inline-block;
    align-items: center;
}

.nombre { 
    display:inline-block;
    background-color:blue;
    text-align:center; 
    width: 100%;
}

.social {
    margin-top: 12px;
}

.barra{
    background-color: #002C8C;
}

a:active { 
    color: red; 
}   

a:hover { 
    background: #309FFF; 
}


.parrafo{

        color: black;
        font-weight:200;
        font-size: 20px;
        text-align: center;
        padding-bottom: 10px;
}
